.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#FF589B 0%,#FF138F 100% );
    color: #FFF;
    border-radius: 8PX;
    padding: 9PX 25PX;
    cursor: pointer;
}
.cat1{
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
}
.cat2{
background-color: orchid;
padding: 10px 30px;
border-radius: 10px;
}
.cat3{
background-color: blue;
padding: 10px 30px;
border-radius: 10px;
}

.categories h1{
    color: white;
   

}
.categories img{
    width: 100px;
    border-radius:10px ;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
   
}
#subscribe{
   height: 300px;
    border-radius: 10px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align:center;
}